.super-mario {
  position: absolute;
  height: 500px;
  top: 200px;
}

.goomba {
  position: absolute;
  top: 700px;
  height: 400px;
  margin-left: 100px;
}

.bowser {
  position: absolute;
  top: 350px;
  left: 600px;
  height: 800px;
  margin-left: 300px;
}

.baloon {
  position: absolute;
  top: 350px;
  left: 400px;
  z-index: 1;
  margin-left: 200px;
}

.word {
  position: absolute;
  top: 400px;
  z-index: 2;
  left: 425px;
  font-size: 24px;
  margin-left: 200px;
}